<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="See https://github.com/berntb/attorg">
	<meta name="author" content="Bernt Budde">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>[% settings.appname %]</title>


<script type="text/javascript"
		src="[% request.uri_base %]/javascripts/jquery-1.11.1.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- <link rel="stylesheet"
	  href="[% request.uri_base %]/bootstrap/css/bootstrap.css"> -->
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css">
<link rel="stylesheet" href="[% request.uri_base %]/css/attorg.css">


<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript"
	 src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script> -->

</head>
<body>

[% content %]

</body>
</html>
