/* Note -- this will be everywhere! */
body { padding-top: 40px; }

/* Set colors similar to default emacs config: */
.hl1 {
    margin-left:   0px;
    /* margin-top: 8px; Hardly needed if we use Bootstrap-well */
    /* padding: 3px; */
}
.hl2 {
    margin-left:  15px;
    /* margin-top: 4px; */
    /* background-color: #e0e0e0; */
    /* margin-bottom: 2px; */
}
.hl3 {
    margin-left:  25px;
    /* background-color: #d0d0d0; */
}
.hl4 {
    margin-left:  35px;
    /* background-color: #c0c0c0; */
}
.hl5 {
    margin-left:  45px;
}
.hl6 {
    margin-left:  55px;
}
.hl7 {
    margin-left:  63px;
}
.hl8 {
    margin-left:  71px;
}
.hl9 {
    margin-left:  76px;
}
.hl10 {
    margin-left:  85px;
}
/* Will do for now */


/* Default highlighted text: */

.hilight {
	color: gold;
	font-weight:bold;
}

/* Layout: */

.more-cmd {
    padding-right: 15px;
}
