body { padding-top: 40px; }

.org-tags {
	display: block;
	text-align: right;
	font-weight: bold;
}


/* ------------------------------------------------------------
   A kludge to override Bootstrap. The colors are from org-faces.el,
   for a light background. They doesn't seem to be exactly as my Emacs
   installation? 
*/

.hilight {                      /* For highlighted text (search results) */
	color: gold;
	font-weight:bold;
}

.config-class {
	color: #808080;
}

.text-level1 {
	color: #0000FF;				/* blue 1 */
}
.text-level2 {
	color: #999900;				/* Should be #ffb90f/Darkgoldenrod1, but
								   that is too close to .hilight.*/
}
.text-level3 {
	color: #a020f0;				/* Purple */
}
.text-level4 {
	color: #b22222;				/* Firebrick */
}
.text-level5 {
	color: #228b22;				/* ForestGreen */
}
.text-level5 {
	color: #228b22;				/* ForestGreen */
}
.text-level6 {
	color: #5f9ea0;				/* CadetBlue */
}
.text-level7 {
	color: #da70d6;				/* Orchid */
}
.text-level8 {
	color: #bc8f8f;				/* RosyBrown */
}
.text-level9 {
	color: #808080;				/* Only 8 were specified in Emacs */
}
.text-level10 {
	color: #808080;				/* - " " - */
}


/* ------------------------------------------------------------ */
/* Set colors similar to default emacs config: */
.hlC {							/* (Config) */
    margin-left:   0px;
	background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    /* padding: 3px; */
}

.hl1 {
    margin-left:   0px;
    /* margin-top: 8px; Not needed if we use Bootstrap-well */
    /* padding: 3px; */
}
.hl2 {
    margin-left:  15px;
    /* margin-top: 4px; */
    /* background-color: #e0e0e0; */
    /* margin-bottom: 2px; */
}
.hl3 {
    margin-left:  25px;
    /* background-color: #d0d0d0; */
}
.hl4 {
    margin-left:  35px;
    /* background-color: #c0c0c0; */
}
.hl5 {
    margin-left:  45px;
}
.hl6 {
    margin-left:  55px;
}
.hl7 {
    margin-left:  63px;
}
.hl8 {
    margin-left:  71px;
}
.hl9 {
    margin-left:  76px;
}
.hl10 {
    margin-left:  85px;
}
/* Will do for now */



/* Layout: */

.more-cmd {
    padding-right: 15px;
}
